head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" )
    meta(name="theme-color" content="#141414" )
    link(rel="shortcut icon" type="image/png" href="./img/favicon.png" )
    meta(name="description" content="An alternative front-end to GoogleTranslate")
    link(itemprop="image" href="./img/favicon.png")
    link(href="./css/index.css" type="text/css" rel="stylesheet" media="screen,projection" )
    meta(content="https://manerakai.github.io/simplytranslate_mobile/img/preview.png" property="og:image")
    title SimplyTranslate Mobile
body
    div.toolbar
        a(style="text-decoration: none" href="index.html")=translations['home']
        a(style="text-decoration: none" href="https://f-droid.org/en/packages/com.simplytranslate_mobile/")= translations['download']
        a(style="text-decoration: none" href="https://github.com/ManeraKai/simplytranslate_mobile")= translations['source']
        a(style="text-decoration: none" href="#donate")= translations['donate']

    header
        img.main_logo(src="./img/logo.svg")
        h1 SimplyTranslate Mobile
        a(href="https://f-droid.org/en/packages/com.simplytranslate_mobile/")=translations['download']


    div.section
        if (isRtl)
            blockquote.block-rtl
                h2#about.header.main-font.primary-color=translations['about']
        else
            blockquote.block
                h2#about.header.main-font.primary-color=translations['about']

        p.flow-text.main-font=translations['about-text'].substring(0, translations['about-text'].indexOf('<a>'))
            a(href="https://simplytranslate.org/")=translations['about-text'].substring(translations['about-text'].indexOf('<a>')+3, translations['about-text'].indexOf('</a>'))
            =translations['about-text'].substring(translations['about-text'].indexOf('</a>')+4, translations['about-text'].length)
        br
        hr#screenshots

        if(isRtl)
            blockquote.block-rtl
                h2.header.main-font.primary-color=translations['screenshots']
        else
            blockquote.block
                h2.header.main-font.primary-color=translations['screenshots']

        div.screenshots
            img.center(src="./img/1.webp")
            img.center(src="./img/2.webp")
            img.center(src="./img/3.webp")
            img.center(src="./img/4.webp")
            img.center.last(src="./img/5.webp")

        br
        hr#translation

        if(isRtl)
            blockquote.block-rtl
                h2.main-font.primary-color=translations['translation']
        else
            blockquote.block
                h2.main-font.primary-color=translations['translation']
        p
            a(href="https://hosted.weblate.org/projects/simplytranslate-mobile/")
                img(src="https://raw.githubusercontent.com/ManeraKai/manerakai/main/icons/weblate.svg")

        br
        hr#donate

        if(isRtl)
            blockquote.block-rtl
                h2.header.main-font.primary-color=translations['donate']
        else
            blockquote.block
                h2.header.main-font.primary-color=translations['donate']

        div.donate
            a.image(href="https://liberapay.com/simplytranslate_mobile/")
                img(src="https://raw.githubusercontent.com/ManeraKai/manerakai/main/icons/liberapay.svg")
                
            a.image(href="https://www.buymeacoffee.com/manerakai")
                img(src="https://raw.githubusercontent.com/ManeraKai/manerakai/main/icons/bmc.svg")

        br
        hr#testers

        if(isRtl)
            blockquote.block-rtl
                h2.header.primary-color=translations['testers']
        else
            blockquote.block
                h2.header.main-font.primary-color=translations['testers']
        p
            a(href="https://github.com/Valdnet") Valdnet

        br
        hr#translators

        if(isRtl)
            blockquote.block-rtl
                h2.header.main-font.primary-color=translations['translators']
        else
            blockquote.block
                h2.header.main-font.primary-color=translations['translators']

        p 🇸🇦 
            =translations['arabic']
            | : 
            a(href="https://github.com/ManeraKai") ManeraKai

        p 🇨🇳 
            =translations['chinese-hong-kong']
            | : 
            a(href="https://github.com/CafeTango") CafeTango
        
        p 🇫🇮 
            =translations['finnish']
            | : 
            a(href="https://hosted.weblate.org/user/Edanas/") Edanas
        
        p 🇫🇷 
            =translations['french']
            | : 
            a(href="https://hosted.weblate.org/user/Edanas/") Edanas

        p 🇩🇪 
            =translations['german']
            | : 
            a(href="https://metalune.xyz/") metalune
            | , 
            a(href="https://hosted.weblate.org/user/Edanas/") Edanas

        p 🇬🇷 
            =translations['greek']
            | : 
            a(href="https://getimiskon.xyz/") getimiskon

        p 🇮🇹 
            =translations['italian']
            | : 
            a(href="https://hosted.weblate.org/user/Edanas/") Edanas
        
        p 🇮🇳 
            =translations['malayalam']
            | : 
            a(href="https://github.com/sunilpaulmathew") sunilpaulmathew

        p 🇳🇴 
            =translations['norwegian-bokmal']
            | : 
            a(href="https://github.com/comradekingu") comradekingu

        p 🇮🇷 
            =translations['persian']
            | : 
            a(href="https://alefvanoon.xyz/") alefvanoon

        p 🇵🇱 
            =translations['polish']
            | : 
            a(href="https://github.com/Aga-C") Aga-C
            | , 
            a(href="https://github.com/Valdnet") Valdnet

        p 🇵🇹 
            =translations['portuguese-brazil']
            | : 
            a(href="https://github.com/Murilogs1910") Murilogs1910

        p 🇷🇺 
            =translations['russian']
            | : 
            a(href="https://github.com/K3XRad") K3XRad
        
        p 🇪🇸 
            =translations['spanish']
            | : 
            a(href="https://github.com/programmer-pony") programmer-pony

        p 🇹🇷 
            =translations['turkish']
            | : 👻, 
            a(href="https://hosted.weblate.org/user/ersen/") ersen

        br
        hr#icon

        if(isRtl)
            blockquote.block-rtl
                h2.main-font.primary-color=translations['icon']
        else
            blockquote.block
                h2.main-font.primary-color=translations['icon']

        p
            a(href="https://joelchrono12.ml/") joelchrono12

        br
        hr#license

        if(isRtl)
            blockquote.block-rtl
                h2.main-font.primary-color=translations['license']
        else
            blockquote.block
                h2.main-font.primary-color=translations['license']

        p=translations["license-text.1"].substring(0, translations["license-text.1"].indexOf('<a>'))
            a(href="https://github.com/ManeraKai")=translations["license-text.1"].substring(translations["license-text.1"].indexOf('<a>')+3, translations["license-text.1"].indexOf('</a>'))
            =translations["license-text.1"].substring(translations["license-text.1"].indexOf('</a>')+4, translations["license-text.1"].length)
            br
            br
            =translations["license-text.2"]
            br
            br
            =translations["license-text.3"]
            br
            br
            =translations["license-text.4"].substring(0, translations["license-text.4"].indexOf('<a>'))
            a(href="https://www.gnu.org/licenses/") GNU General Public License
            =translations["license-text.4"].substring(translations["license-text.4"].indexOf('</a>')+4, translations["license-text.4"].length)
